<?xml version="1.0" ?>
<robot>
	
  
	<!--Definition of the robot cables-->
	
  
	<link name="cable0">
		
    
		<collision name="cable0">
			
      
			<origin xyz="-0.964464 -0.964464 1.943560" rpy="-2.579671 0.489552 -1.426872"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
    
		</collision>
		
    
		<visual name="cable0">
			
      
			<origin xyz="-0.964464 -0.964464 1.943560" rpy="-2.579671 0.489552 -1.426872"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
      
			<material name="${cable_color}"/>
			
    
		</visual>
		
  
	</link>
	
  
	<link name="cable1">
		
    
		<collision name="cable1">
			
      
			<origin xyz="-0.964464 0.964464 1.943560" rpy="2.579671 0.489552 1.426872"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
    
		</collision>
		
    
		<visual name="cable1">
			
      
			<origin xyz="-0.964464 0.964464 1.943560" rpy="2.579671 0.489552 1.426872"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
      
			<material name="${cable_color}"/>
			
    
		</visual>
		
  
	</link>
	
  
	<link name="cable2">
		
    
		<collision name="cable2">
			
      
			<origin xyz="0.964464 0.964464 1.943560" rpy="2.579671 -0.489552 -1.426872"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
    
		</collision>
		
    
		<visual name="cable2">
			
      
			<origin xyz="0.964464 0.964464 1.943560" rpy="2.579671 -0.489552 -1.426872"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
      
			<material name="${cable_color}"/>
			
    
		</visual>
		
  
	</link>
	
  
	<link name="cable3">
		
    
		<collision name="cable3">
			
      
			<origin xyz="0.964464 -0.964464 1.943560" rpy="-2.579671 -0.489552 1.426872"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
    
		</collision>
		
    
		<visual name="cable3">
			
      
			<origin xyz="0.964464 -0.964464 1.943560" rpy="-2.579671 -0.489552 1.426872"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
      
			<material name="${cable_color}"/>
			
    
		</visual>
		
  
	</link>
	
  
	<link name="cable4">
		
    
		<collision name="cable4">
			
      
			<origin xyz="-1.325915 -1.325915 -0.134200" rpy="-1.180189 0.746283 -0.512804"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
    
		</collision>
		
    
		<visual name="cable4">
			
      
			<origin xyz="-1.325915 -1.325915 -0.134200" rpy="-1.180189 0.746283 -0.512804"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
      
			<material name="${cable_color}"/>
			
    
		</visual>
		
  
	</link>
	
  
	<link name="cable5">
		
    
		<collision name="cable5">
			
      
			<origin xyz="-1.325915 1.325915 -0.134200" rpy="1.180189 0.746283 0.512804"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
    
		</collision>
		
    
		<visual name="cable5">
			
      
			<origin xyz="-1.325915 1.325915 -0.134200" rpy="1.180189 0.746283 0.512804"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
      
			<material name="${cable_color}"/>
			
    
		</visual>
		
  
	</link>
	
  
	<link name="cable6">
		
    
		<collision name="cable6">
			
      
			<origin xyz="1.325915 1.325915 -0.134200" rpy="1.180189 -0.746283 -0.512804"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
    
		</collision>
		
    
		<visual name="cable6">
			
      
			<origin xyz="1.325915 1.325915 -0.134200" rpy="1.180189 -0.746283 -0.512804"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
      
			<material name="${cable_color}"/>
			
    
		</visual>
		
  
	</link>
	
  
	<link name="cable7">
		
    
		<collision name="cable7">
			
      
			<origin xyz="1.325915 -1.325915 -0.134200" rpy="-1.180189 -0.746283 0.512804"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
    
		</collision>
		
    
		<visual name="cable7">
			
      
			<origin xyz="1.325915 -1.325915 -0.134200" rpy="-1.180189 -0.746283 0.512804"/>
			
      
			<geometry>
				
        
				<cylinder radius="0.005" lenght="3.4641016151377544"/>
				
      
			</geometry>
			
      
			<material name="${cable_color}"/>
			
    
		</visual>
		
  
	</link>
	

</robot>
